body {
  background-color: #212121;
  opacity: 1;
  background-image: linear-gradient(#151515 3.4px, transparent 3.4px), linear-gradient(90deg, #151515 3.4px, transparent 3.4px), linear-gradient(#151515 1.7px, transparent 1.7px), linear-gradient(90deg, #151515 1.7px, #212121 1.7px);
  background-size: 85px 85px, 85px 85px, 17px 17px, 17px 17px;
  background-position: -3.4px -3.4px, -3.4px -3.4px, -1.7px -1.7px, -1.7px -1.7px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  user-select: none;
}

strong {
  font-weight: 500;
}

#node {
  width: 95%;
}

#header_nodes {
  background: #323232;
  border-radius: 8px 8px 0 0;
  padding: 8px;
  border-bottom: #2A2A2A 1px solid;
}

#footer_nodes {
  background: #323232;
  border-radius: 0 0 8px 8px;
  padding: 8px;
  display: flex;
  gap: 12px;
}

#row_nodes {
  background: #353535;
  padding: 8px;
  border-bottom: #2A2A2A 1px solid;
}

.ruller {
  background: #353535;
  padding: 8px 28px 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#row_nodes_right {
  display: flex;
  gap: 8px;
}

#row_nodes_ruller {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.global_hook {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
}

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #999;
}

.bullet.red {
  background-color: red;
}

.bullet.green {
  background-color: #7EC680;
}

.bullet.blue {
  background-color: #66B6F4;
}

.bullet.purple {
  background-color: #c3a2fd;
}

.bullet.skyblue {
  background-color: #ABDBDC;
}

.text_hook {
  font-size: 12px;
  color: #eee;
  font-family: Arial, sans-serif;
}

.text_hook_image_number{
  font-size: 12px;
  color: #eee;
  font-family: Arial, sans-serif;
}

.text_timehandler_box {
  display: flex;
  flex-direction: column;
}

.time_frame_text{
  font-size: 10px;
  color: #c6c6c6;
  font-family: Arial, sans-serif;
}



.img_row {
  display: flex;
  gap: 8px;
}

.left_bullet_img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right_img_row {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  justify-content: space-between;
}

.top_img_row,
.bottom_img_row {
  display: flex;
  gap: 12px;
  align-items: stretch;
}

.top_img_row {
  height: auto;
}

.img_section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 12px;
}

.upload_img {
  background-color: #444;
  border-radius: 4px;
  border: 1px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  position: relative;
  max-width: 72px;
  max-height: 72px;
}

.upload_img svg {
  width: 24px; /* Adjust size if necessary */
  height: 24px; /* Adjust size if necessary */
  stroke: #A0A0A0;
  cursor: pointer;
}

.upload_img img {
  width: 100%; /* Adjust size to ensure it stays within the container */
  height: auto;
  border-radius: 4px;
}

.mask_img {
  background-color: #444;
  border-radius: 8px;
  border: 1px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 100%;
  position: relative;
  padding: 0 2px;
  
}

.upload_img img {
  max-width: 80px;
  border-radius: 4px;
}

img#masked_img {
  max-width: 80px;
  border-radius: 4px;
}

.image_number {
  display: flex;
  align-items: center;
  width: 100%;
}

.upload_img input {
  position: absolute;
  opacity: 0;
  width: 40px; /* Adjust size to ensure it stays within the container */
  height: 40px; /* Adjust size to ensure it stays within the container */
  cursor: pointer;
}

.grid-btn-icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 8px;
}

.icon-btn {
  background-color: #444;
  border-radius: 8px;
  border: 1px solid #555;
  color: #A0A0A0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

button.icon-btn.add_timeframe.second {
  width: 32px;
  height: 32px;
}

button.icon-btn.remove_curent_time_handler {
  width: 32px;
  height: 32px;
}

.icon-btn-text {
  background-color: #444;
  border-radius: 8px;
  border: 1px solid #555;
  color: #A0A0A0;
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.timeline_container {
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.timeline_handler {
  background-color: #2A2A2B;
  border-radius: 8px;
  border: 1px solid #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  width: fit-content;
  height: 85%;
  position: absolute;
  overflow: hidden;
  gap: 4px;
}

.timeline_handler .left-handle,
.timeline_handler .right-handle {
  cursor: ew-resize;
    position: relative;
    height: 100%;
    width: 8px;
    border-right: 1px solid #959595;
    border-left: 1px solid #959595;
}

.timeline_handler .left-handle {
  left: 0;
}

.timeline_handler .right-handle {
  right: 0;
}

.hidden {
  display: none !important;
}

.center-handler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  cursor: grab;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.timeline_handler_btns {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: space-between;
}

.Timeline_time_ruler {
  position: relative;
  height: 32px;
}

.Timeline_time_ruler .tick {
  position: absolute;
  bottom: 0;
  height: 8px;
  width: 1px;
  background: #868686;
}

.Timeline_time_ruler .tick .label {
  position: absolute;
  top: -20px;
  font-size: 10px;
  color: #868686;
}

/* Additional styles for non-selectable text */
.no_selectionable {
  user-select: none;
}
/* Add this CSS to your existing CSS file */
.tooltip {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none; /* Hidden by default */
}

.tooltip-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip img {
  max-width: 200px; /* Adjust the size as needed */
  height: auto;
}

.hidden {
  display: none;
}

.rearange_img_row_handle {
  cursor: move;
  position: relative;
  height: 88px;
  width: 8px;
  border-right: 1px solid #959595;
  border-left: 1px solid #959595;
}